<h1>Bonafoot</h1>

<fieldset>
  <legend>New game</legend>
  <input type="text" placeholder="Game name" [(ngModel)]="newGameName" />
  <button class="defaultButton" (click)="newGame()" [disabled]="!newGameName">Create</button>
</fieldset>
<fieldset>
  <legend>Saved games</legend>
  <p *ngIf="!games || games.length === 0">No games was found</p>
  <table *ngIf="games && games.length > 0" class="table table-hover table-striped table-borderless table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let game of games">
        <td>{{game.name}}</td>
        <td>{{game.team.name}}</td>
        <td>
          <button class="defaultButton" (click)="loadGame(game.name)">Load</button>
          <button class="defaultButton" (click)="deleteGame(game.name)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</fieldset>