<h1>Bonafoot</h1>

<fieldset>
  <legend>New game</legend>
  <input type="text" placeholder="Game name" [(ngModel)]="newGameName" />
  <button (click)="newGame()" [disabled]="!newGameName">Create</button>
</fieldset>
<fieldset>
  <legend>Load game</legend>
  <p *ngIf="!games || games.length === 0">No games was found</p>
  <table *ngIf="games && games.length > 0">
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th></th>
    </tr>
    <tr *ngFor="let game of games">
      <td>{{game.name}}</td>
      <td>{{game.team.name}}</td>
      <td><button (click)="loadGame(game.name)">Load</button><button (click)="deleteGame(game.name)">Delete</button></td>
    </tr>
  </table>
</fieldset>
